.footer {
     width: 800px;
     position: relative;
     height: 40px;
     left: 450px;
     text-align: center;
     font-size: 18px;
     color: #7FA650;
}
.footer-index {
     top: 550px;
}
.footer-storia {
     top: 2120px;
}
.footer-licenza {
     top: 1000px;
}
a.f {
     font-size: 18px;
     color: #7FA650; 
}
span.f {
     color: bisque;
     font-weight: bold; 
}