div.menu-verticale {
    /* Creazione del box contenente il menù verticale */
    width: 140px;
    height: 100%;
    z-index: 1000;
    position: fixed;
    background-color: #262421;
    display: block; 
    padding-left: 30px;
    padding-top: 15px;
    position: fixed;
    top: 0px;
}
.menu-verticale a:hover {
    /* Definizione dello stile da applicare ai bottoni */
    /* Quando si passa il cursore sopra */
    width: 90px;
    height: 35px;
    z-index: 1000;
    position: fixed;
    background-color: #211F1D;
    color: white;
    text-align: center;
    border-radius: 5%; 
    padding: 8px;
    border-bottom-style: solid;
    border-bottom-color:#1b1717;
    border-bottom-width: 5px;
}
.menu-verticale a.active {
    /* Definizione dello stile da applicare ai bottoni */
    /* Quando sono attivi */
    width: 90px;
    height: 35px;
    z-index: 1000;
    position: fixed;
    background-color: #7FA650;
    color: white;
    text-align: center;
    border-radius: 5%; 
    padding: 8px;
    border-bottom-style: solid;
    border-bottom-color:#303f1e;
    border-bottom-width: 5px;
}
.menu-verticale-base {
    width: 90px;
    height: 35px;
    z-index: 1000;
    position: fixed;
    color: bisque;
    text-align: center; 
    padding: 8px;
}
