div.pagina {
     width: 1500px;
     height: 100%;
     position: relative;
     left: 200px;
}
div.titolo-pagina {
     width: 100%;
     height: 150px;
     position: absolute;
     top: 40px;
     left: 60px;
     font-size: 30px;
     color: bisque;
}
div.paragrafo {
     width: 800px;
     height: auto;
     position: absolute;
     top: 160px;
     padding-left: 50px;
     padding-top: 20px;
     padding-bottom: 10px;
     text-align: center;

}
div.gif {
     width: 740px;
     height: 740px;
     position: absolute;
     top: 160px;
     padding-left: 50px;
     text-align: center;
     padding-top: 20px;
     padding-bottom: 10px;
}
img.gif {
     width: 400px;
     height: 267px;
     position: absolute;
     top: 240px;
     left: 1000px;
     padding-top: 20px;
     padding-bottom: 10px;
}
h1.titolo-paragrafo {
     font-size: 30px;
     color: bisque;
}
img.logo-1 {
     width: 80px;
     height: 80px;
     position: absolute;
     top: 40px;
     left: 315px;
}